.status_divider{
    height: 50px;
    background: linear-gradient(235deg,rgb(39, 174, 96),rgb(52, 152, 219),rgb(41, 128, 185),rgb(22, 160, 133),rgb(142, 68, 173));
    text-align:center;
    color:rgb(236, 240, 241);
    font-size:20px;
    line-height:50px;
    border-radius:3px;
}